@innerRadius : 20px;
@outterRadius : 40px;
@startX : 100px;
@startY : 50px;

.makeCircle(@angle,@radius,@left,@top,@counter) when(@counter <= 100%){
    @y : @top + (@radius * cos(@angle));
    @x : @left + (@radius * sin(@angle));
    
    @{counter} {
        transform: translate(@x,@y);
    }
    .makeCircle(@angle+18deg,@radius,@x,@y,(@counter+5%));
}

.makeKeyFramesForSmall(@counter,@angle,@radius,@left,@top) when(@counter < 5){

    @keyframes ~"for@{counter}" {
        .makeCircle(@angle,@radius,@left,@top,0%);
    }

    .makeKeyFramesForSmall(@counter+1, @angle + 72deg, @radius, @left, @top)
}

.makeKeyFramesForSmall(0,0deg,@innerRadius,@startX,@startY);

.makeKeyFramesForLarge(@counter,@angle,@radius,@left,@top) when(@counter < 10){

    @keyframes ~"for@{counter}" {
        .makeCircle(@angle,@radius,@left,@top,0%);
    }

    .makeKeyFramesForLarge(@counter+1, @angle + 72deg, @radius, @left, @top)
}

.makeKeyFramesForLarge(5,0deg,@outterRadius,@startX,@startY);

.direction(@counter) when(@counter < 5){
    animation-direction : reverse;
}

.makeAnimation(@counter) when(@counter < 10){
    .img@{counter}{
        position: absolute;
        animation-name: ~"for@{counter}";
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        .direction(@counter);
        animation-play-state: paused;
        animation-fill-mode: backwards;
        transition: transform 300ms ease-in-out;
    }

    .makeAnimation(@counter+1)
}

.pause{
    img{
    animation-play-state: running;
    margin-left: 100px;
    margin-top: 50px;
    }
}
.container{
    min-width: 500px;
    min-height: 500px;
    
    margin: 20%;
    .makeAnimation(0);
    .cross{
        position: absolute;
        margin-left: 100px;
        margin-top: 50px;
    }
    #number{
        margin-top: 50%;
    }
}