<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" href="home.less">
    <title>Login</title>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>	
    <div class="container">
        <div class="header">
            <h2>Alishan Forest Railway</h2>
            <div>
            {% for name,item in items %}
                <a href="{{item}}">{{name}}</a>
            {% endfor %}
            </div>
        </div>
        <div class="nav">
            <div class="nav1"><a href="./templates/home.html">Home</a></div>
            <div class="nav2"><a href="./templates/chushan.html">Chushan Line</a></div>
            <div class="nav3"><a href="./templates/shenmu.html">Shemnu Line</a></div>
            <div class="nav4"><a href="./templates/fares.html">Train Fares</a></div>
            <div class="nav5"><a href="time.php">Time Table</a></div>
            <div class="nav6"><a href="./templates/guide.html">Ticket Purchasing Guide</a></div>
            <div class="nav7"><a href="qa.php">Passenger Q/A</a></div>            
        </div>
            <div class="login">
                <form method="post" accept-charset="UTF-8" action="login.php">
                    <input type="hidden" name="action" value="users/login">
                
                    <h3><label for="loginName">Username or email:</label></h3>
                    <input id="loginName" type="text" name="loginName">
                
                    <h3><label for="password">Password</label></h3>
                    <input id="password" type="password" name="password">
                    &nbsp&nbsp&nbsp
                    <input type="submit" value="Login">
                    <br><p>{{error}}</p> 
                </form>
                
        </div>    
        <div class="footer">
            <h3>Contact Us:</h3>
            <p>
                Email: <a href="mailto:devindersinghdhaliwal@gmail.com"><b>DevinderSinghDhaliwal@Gmail.com</b></a><br>
                Phone:<b> 778-231-0152</b><br>
                copy_right&regalishan_railway
            </p>  
        </div>  
    </div>      
</body>
</html>
