<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" href="home.less">
    <title>Login</title>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>	
    <div class="container">
        <div class="header">
            <h2>Alishan Forest Railway</h2>
            <div>
            {% for name,item in items %}
                <a href="{{item}}">{{name}}</a>
            {% endfor %}
            </div>
        </div>
        <div class="login">
            <p>{{user}},You are successfully logged out <a href="./templates/home.html">click here</a></p>        
        </div>    
        <div class="footer">
            <h3>Contact Us:</h3>
            <p>
                Email: <a href="mailto:devindersinghdhaliwal@gmail.com"><b>DevinderSinghDhaliwal@Gmail.com</b></a><br>
                Phone:<b> 778-231-0152</b><br>
                copy_right&regalishan_railway
            </p>  
        </div>  
    </div>      
</body>
</html>