<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet/less" href="ques.less">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="qa.js"></script>
</head>
<body>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>	
    <div class="container">
        <div class="header">
            <h2>Alishan Forest Railway</h2>
            <div>
                {% for name,item in items %}
                    <a href="{{item}}">{{name}}</a>
                {% endfor %}
            </div>
        </div>
        
        <div class="nav">
            <div class="nav1"><a href="./templates/home.html">Home</a></div>
            <div class="nav2"><a href="./templates/chushan.html">Chushan Line</a></div>
            <div class="nav3"><a href="./templates/shenmu.html">Shemnu Line</a></div>
            <div class="nav4"><a href="./templates/fares.html">Train Fares</a></div>
            <div class="nav5"><a href="time.php">Time Table</a></div>
            <div class="nav6"><a href="./templates/guide.html">Ticket Purchasing Guide</a></div>
            <div class="nav7"><a href="qa.php">Passenger Q/A</a></div>            
        </div>
        <div class="main">
            <h2>Q/A</h2>
            {% set counter = 1 %}
            {% for items in ques %}
                {% set newCounter = 1 %}
                <div id = {{"d" ~ counter ~ ""}}>     
                {% for item in items %}
                    {% if newCounter == 1  %}
                        <p>Q.<b id = {{counter}}>{{item}}</b>
                    {% elseif newCounter == 2 %}
                             {{item}}</p>
                    {% else %}
                            <p>Ans. {{item}}</p>
                    {% endif %}
                    {% set newCounter = newCounter + 1 %}
                {% endfor %}
                <input type="button" id = {{"b" ~ counter ~ ""}} value="answer" onclick = {{"answer('" ~ counter ~ "')"}}>
                {% set counter = counter + 1 %}
                </div>
            {% endfor %}    
            </p>
            <input type="button" id="ask" value="ask a question" onclick="askQuestion()">
            <div class="input">
    
            </div>
        </div>
        <div class="footer">
            <h3>Contact Us:</h3>
            <p>
                Email: <a href="mailto:devindersinghdhaliwal@gmail.com"><b>DevinderSinghDhaliwal@Gmail.com</b></a><br>
                Phone:<b> 778-231-0152</b><br>
                copy_right&regalishan_railway
            </p>
        </div>    
    </div>
</body>
</html>