<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" href="home.less">
    <title>Sign up</title>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>	
    <script>
        function verifyPass(){
            let pass = document.getElementById("password");
            let pass2 = document.getElementById("passwordVerify");
            if(pass.value != pass2.value){
                pass2.value = "";
                document.getElementById("pass").innerHTML = "Password doesn't match!";
            }
            else{
                document.getElementById("pass").innerHTML = "Password matched!";
            }
        }
    </script>
    <div class="container">
        <div class="header">
            <h2>Alishan Forest Railway</h2>
            <div>
                {% for name,item in items %}
                    <a href="{{item}}">{{name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="nav">
            <div class="nav1"><a href="./templates/home.html">Home</a></div>
            <div class="nav2"><a href="./templates/chushan.html">Chushan Line</a></div>
            <div class="nav3"><a href="./templates/shenmu.html">Shemnu Line</a></div>
            <div class="nav4"><a href="./templates/fares.html">Train Fares</a></div>
            <div class="nav5"><a href="time.php">Time Table</a></div>
            <div class="nav6"><a href="./templates/guide.html">Ticket Purchasing Guide</a></div>
            <div class="nav7"><a href="qa.php">Passenger Q/A</a></div>            
        </div>
            <div class="login">
                <form method="post" action="signup.php" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="users/saveUser">
                    <input type="hidden" name="redirect" value="">
                    <h3><label for="username">Username</label></h3>
                    <input id="username" type="text" name="username">                
                    <h3><label for="email">Email</label></h3>
                    <input id="email" type="text" name="email" pattern="(^[^@]+@[^@]+\.[A-Za-z]+$)" title="valid email address">
                    <h3><label for="password">Password</label></h3>
                    <input id="password" type="password" name="password" pattern="^([A-Za-z0-9]){6}[A-Za-z0-9]*$"  title="password should be atleast 6 characters long and should contain only alphabets and numbers"><br><br>
                    <h3><label id="pass" for="password">Password Verification</label></h3>
                    <input id="passwordVerify" type="password" name="passwordVerify" pattern="^([A-Za-z0-9]){6}[A-Za-z0-9]*$" onchange="verifyPass()" title="password should be atleast 6 characters long and should contain only alphabets and numbers"><br><br>
                   <input type="submit" value="Register">
                </form>
        </div>
        <div class="footer">
            <h3>Contact Us:</h3>
            <p>
                Email: <a href="mailto:devindersinghdhaliwal@gmail.com"><b>DevinderSinghDhaliwal@Gmail.com</b></a><br>
                Phone:<b> 778-231-0152</b><br>
                copy_right&regalishan_railway
            </p>  
        </div>  
    </div>      
</body>
</html>