<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet/less" href="time.less">
</head>
<body>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>	
    <div class="container">
        <div class="header">
            <h2>Alishan Forest Railway</h2>
            <div>
                {% for name,item in items %}
                    <a href="{{item}}">{{name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="nav">
            <div class="nav1"><a href="./templates/home.html">Home</a></div>
            <div class="nav2"><a href="./templates/chushan.html">Chushan Line</a></div>
            <div class="nav3"><a href="./templates/shenmu.html">Shemnu Line</a></div>
            <div class="nav4"><a href="./templates/fares.html">Train Fares</a></div>
            <div class="nav5"><a href="time.php">Time Table</a></div>
            <div class="nav6"><a href="./templates/guide.html">Ticket Purchasing Guide</a></div>
            <div class="nav7"><a href="qa.php">Passenger Q/A</a></div>            
        </div>
        <div class="main">
            <h2>Time Table</h2>
            <div class="pagelinks">
                <div><a href="#m">Early Morning</a></div>
                <div><a href="#c">Chushan</a></div>
                <div><a href="#s">Shemnu</a></div>
            </div>
            <div id="m">
                <h2>Early Morning Timing</h2>
                <table>
                    <tr>
                        <th>Day</th>
                        <th>January</th>
                        <th>February</th>
                        <th>March</th>
                        <th>April</th>
                        <th>May</th>
                        <th>June</th>
                        <th>July</th>
                        <th>August</th>
                        <th>September</th>
                        <th>October</th>
                        <th>November</th>
                        <th>December</th>
                    </tr>
                        {% for items in morning %}
                            <tr>
                            {% for item in items %}
                                <td>{{item}}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}                            
                    </table>
            </div>
            <div id="c">
                <h2>Chushan Line</h2>
                <table>
                    <tr>
                        <th>Train</th>
                        <th>Alishan Departure</th>
                        <th>Chushan Arrival</th>
                        <th>Return Train</th>
                        <th>Chushan Departure</th>
                        <th>Alishan Arrival</th>
                    </tr>
                    {% for items in chushan %}
                        <tr>
                        {% for item in items %}
                            <td>{{item}}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div id="s">
                <h2>Shemnu Line</h2>
                <table>
                        <tr>
                            <th>Train</th>
                            <th>Alishan Departure</th>
                            <th>Shemnu Arrival</th>
                            <th>Return Train</th>
                            <th>Shemnu Departure</th>
                            <th>Alishan Arrival</th>
                        </tr>
                        {% for items in chushan %}
                            <tr>
                            {% for item in items %}
                                <td>{{item}}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
        </div>        
        <div class="footer">
            <h3>Contact Us:</h3>
            <p>
                Email: <a href="mailto:devindersinghdhaliwal@gmail.com"><b>DevinderSinghDhaliwal@Gmail.com</b></a><br>
                Phone:<b> 778-231-0152</b><br>
                copy_right&regalishan_railway
            </p>
        </div>    
    </div>
</body>
</html>