.container{
	width: 95%;
	min-height: 600px;
	border: ridge;
	box-shadow: 5px 5px 5px 5px black;
	margin-left: 2.5%;
	background-color: rgb(222, 226, 222);
}
.header{
	
	top:0px;
	min-height: 50px;
}
h1{
}
body{
	background-color:#99938E;
}