body{
    background-color:/* #C6CFC6;*/#f7f9f7;  
    font-family: "Times New Roman", Times, serif;
    font-size: 1.1em;      
}
.wrapper{
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;            
    width: 90%;
    border: ridge;
    padding: 15px;
    box-shadow: black 5px 5px 5px 5px;
}
.div2{
    padding: 15px;
    background-color: #9ae0a0;    
}
.div3{
    background-color: white;
}
td,th{
    background-color: #9ae0a0;
    padding: 15px;
}