@import "theme.less";

@media screen and (min-width:833px){
    .container{
        @basicGrid();
        .login{
            margin-left: 10%;
            top: 0% !important;
            margin: 0px !important;

            input[type="submit"]{
                padding: 5px;
                background-color: #ff7433;
                @smoothTheCorners();
            }
        }
        /*.sidebar{
            display: none !important ;
        }*/
    }    
}


@media screen  and (min-width:600px) and (max-width:833px){
    .container{
        @basicGrid();
        .nav div{
            position: relative !important;
            width: 150px !important;
            padding: 10px !important;
            margin-top: 25px !important;
            top: 0% !important;
        }
        .sidebar{
            display: none !important ;
        }
        .login{
            margin-left: 30%;
            input[type="submit"]{
                margin-top: 5%;
                padding: 5px;
                background-color: #ff7433;
                @smoothTheCorners();
            }
        }
        .main{
            .gridColumn(2,4);
            margin-left: 10%;
            word-wrap: break-word;
        }
    }    
}

@media screen and (max-width:600px){
    body{
        display: flex;
        flex-flow: row;
        .footer{
            margin-top: 10% !important;
        }
        .sidebar{
            display: none;
        }
        .login{
            input[type="submit"]{
                padding: 5px;
                background-color: #ff7433;
                @smoothTheCorners();
            }
        }
        .nav{        
            div{
                width: 100px !important;
                padding: 0px !important;
                margin-top: 0% !important;
                top: 0% !important;
                background-color: @background-Color1 !important;
                a{
                    color: @background-Color2 !important;
                }    
                position: relative !important;
            }
            display: grid !important;
            grid-row-gap: 2em;
            grid-template-columns: 1fr 1fr 1fr 1fr  ;

        }    
    }
}
.none{
    display: none !important;
}
