@import "home.less";

.container{
    .main{
        input[type="button"]{
            padding: 5px;
            background-color: #ff7433;
            @smoothTheCorners();
        }
        .none{
            display: none !important;
        }
    }
}