@background-Color1 : #efd7d7;
@background-Color2 : darken(rosybrown,40);
@smoothTheCorners: { border-radius: 10px 10px 10px 10px};

body{
    
    background-color: @background-Color1;
}
.setTop(@position,@rows) when (@rows < 8){
   .nav@{rows}{
        top: (@position * @rows);
   }
   .setTop(@position, (@rows+1));
}

a{
    color: white;
}

@basicGrid : {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2em;

    .header{
        >div{
            a{
                color: @background-Color2;
            }
            position: absolute;
            top:0;
            left: 85%;     
        }

        color: @background-Color2;
        font-size: 1.7em;
        h2{
            margin-right: 9%;
        }
        
        font-style: italic;
        text-align: center;
        grid-row: 1 e("/") 12;
        background-position: center;
        background-position-y: 80%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url("./images/homePage.jpg");
        background-color: white;
        .gridColumn(1,4);
    }
};

.gridColumn(@a,@b){
    grid-column: @a e("/") @b;
}

.container{
    
    div{
        color: @background-Color1;
        padding: 15px;
        @smoothTheCorners();
    }

    >div{
        background-color: @background-Color2;
    }

    .nav{
        background-color: @background-Color1;
        display: flex;
        flex-flow: column;
        div{
            margin-top: 300px;
            position: absolute;
            background-color: @background-Color2;
            width: 170px;            
            &:hover{
                transition: 0.8s;
                left: 40px;
                background-color: lighten(springgreen,5);
            }
        }
        .setTop(10%,1);    
    }

    .main{
        max-height: 500px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .login{
        grid-column-start: 2;
        margin-top: 10%;
        input,label,a{
            margin-left: 5%;
        }
        input[type = text],input[type=password]{
            background-color: @background-Color1;
            color: @background-Color2;
        }    
    }
    .footer{
        .gridColumn(1,4);
        grid-row-start: 18;
    }
}

::-webkit-scrollbar {
    display: none;
    width: 5px;
}
