@import "home.less";

.container{
    .main{

        >h2{
            top: 0px;
            display: table;
            margin-left: 40%;
            padding: 10px;
            @smoothTheCorners();
            text-align: center;
            background-color: #992600;
        }

        .pagelinks{
            display: inline-flex;
            a{
                color: #ff7433;

                &:visited{
                    color: #ffa880;
                }

                &:hover{
                    color: #992600;
                }
            }    
        }
        h2{
            text-decoration: underline;
        }
        .gridColumn(2,4);
        margin-right: 3%;
        table{
            width: 100%;
            border-collapse: collapse;
            td,th{
                border: 1px solid #992600;
                padding: 5px;
            }
            tr{
                background-color: #ffa880;
                &:nth-child(odd){
                    background-color: #ff7433;
                }
            }
            th{
                background-color: #992600;
            }    
        }
    }
}