.container{
    .user{
            .messages{
            max-width: 300px;
            min-height: 500px;
            max-height: 500px;            
            border: ridge;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-start: initial;
            overflow: scroll;
            .name{
                background-color: darkorange;
                color: white;
                padding: 2.5px;
                border-radius: 5px 5px 5px 5px;
            }
        }
    }
}