.container{
    border: solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    #header{
        border: solid black;
        grid-column: 1 e("/") 4;
        text-align: center;
        font-size: 40px;
    }
    .selected{
        color: red;
    }
    ul li{
        list-style: none;
    }
}