@background-color : lighten(#7B3F00,40);

body{
    background-image: url("pokemon.jpg");
}
.pokemon{
    table{
        background-color: @background-color;
        margin-top: 5%;
        width: 100%;
        a{
            color: black;
        }
        tr:hover{
            background-color: white;
        }
    }    
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.container{
    text-align: center;
    width: 99%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 80%;
    .header{
        grid-column: 1 e("/") 3;
        background-color: @background-color;
    }
    .sidebar{
        grid-row: 2 e("/")4;
        background-color: @background-color;
        >div{
        margin-top: 10%;
        }
    }
    .cards{
        margin-top: 5%;
        min-height: 250px;
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        .card{
            border: ridge;        
            background-color: @background-color;            
        }
    }    
}    