<div class="card">
    {% for row in items %}
        {% for name,value in row %}
            <div><b>{{name}}:</b> {{value}}</div>
        {% endfor %}
    {% endfor %}
    <a href="{{link}}?move=delete&name={{items[0]["names"]}}" | urlencode><input type="button" value="Delete"></a>
</div>