</div>
<div class="pokemon">
    <table>
    <tr><tr><th>NationalDex</th><th>hoennDex</th><th>Name</th><th>Type</th><th>HP</th><th>Attack</th><th>Defence</th><th>Special Attack</th><th>Special Defence</th><th>Speed</th><th>Best</th></tr>
    {% for item in pokemons %}
        <tr>
        {% for value in item %}
            <td><a name="{{item.names}}"></a><a href="{{link}}?move=add&name={{item["names"]}}"|urlencode>{{value}}</a></td>
        {% endfor %}
        </tr>        
    {% endfor %}
    </table>
</div>
</div>